*{
    font-family: 'Sen', sans-serif;
    margin: 0;
    word-wrap: break-word;
}
#logo{
    font-size: 48px;
    padding: 10px;
    cursor: pointer;
}

#landinglogo{
    font-size: 48px;
    padding: 10px;
}

.bold{
    font-weight: bold;
    /* font-weight: 600; */
}
.font-big{
    font-size: 35px;
}
.text-cen{
    text-align: center;
}
#title{
    background-image: url('../images/dot-grid.png');
    background-color: #fffcf3;
    padding: 90px;
    /* font-weight: bold; */
}
.padding-30{
    padding: 30px;
}
.title-city{
    color: #6560ff;
    font-size: inherit;
}
a{
    color: black;
}

#login{
    padding: 10px;
}

#login input{
    border-radius: 5px;
    font-size: large;
}

#loginspan{
    padding: 10px;
    border-radius: 5px;
    background-color: #6560ff;
}

#loginspan a{
    color: white;
}

.loginforminput{
    border: none;
    padding: 15px;
    background-color: #f4f4f6;
    width: 90%;
}

.bgwhite{
    background-color: white;
}

#reggender{
    border: none;
    padding: 15px;
    background-color: #f4f4f6;
}

.width-80{
    width: 80%;
}

.butt{
    border: none;
    background-color: #6560ff;
    padding: 15px;
    color: white;
}

#forms{
    width: 50%;
}

#how{
    width: 50%;
    background-color: #eaedfe;
    border-radius: 10px;
}

.sections{
    float: left;
    box-sizing: border-box;
    margin: auto;
    /* text-align: center; */
}

.clearboth{
    clear: both;
}

#faqs{
    width: 50%;
    margin: auto;
    margin-top: 10px;
}

.sectioncontainer{
    width: 60%;
    margin: auto;
    padding: 20px;
}

.highlight{
    /* background-color: #6560ff; */
    padding: 2px;
    /* color: white; */
    border: 1px solid #6560ff;
    border-radius: 5px;
}

.questions{
    margin-top: 20px;
}

.answers{
    margin-top: 10px;
}

hr{
    margin-top: 30px;
    width: 50%;
    margin: auto;
	height: 1px;
	border: none;
	background-color: #6560ff;
}

@media (max-width:1200px){
    .sectioncontainer{
        width: 80%;
    }
}
@media (max-width:900px){
    .sectioncontainer{
        width: 90%;
    }
}

@media (max-width:750px){
    #forms{
        width: 100%;
    }
    #how{
        width: 100% !important;
    }
    .sectioncontainer{
        width: 80%;
    }
    #faqs{
        width: 70%;
    }
}


@media (max-width: 900px) {
    #wrapper{
        flex-direction: column !important;
    }
    #how{
        width: 75%;
    }
}

@media (max-width:650px) {
    #travels,#entries,#searchcontent,#messageswrapper,#userdetails{
        width: 70% !important;
    }
}

@media (max-width:500px) {
    #travels,#entries,#searchcontent,#messageswrapper,#userdetails{
        width: 90% !important;
        box-sizing: border-box;
    }
}

/* profile add entry buttons */
@media (max-width:410px){
    #title{
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 500px) {
    #travelform,#requestform{
        width: 80%;
    }
}

@media (max-width: 400px) {
    #travelform,#requestform{
        width: 100%;
        box-sizing: border-box;
    }
}

#loginerror{
    font-size: medium;
    margin-top: 5px;
    color: red;
}

#loginbutton{
    cursor: pointer;
    border-radius: 5px;
}

#registration{
    display: none;
}

#registration input{
    border-radius: 5px;
    font-size: large;
}

#leftentriessection, #rightentriessection{
    width: 25%;
}

#travels{
    width: 50%;
    margin: auto;
}

.entriessections{
    /* padding: 20px; */
    /* float: left; */
    box-sizing: border-box;
}

#userdetails{
    width: 50%;
    margin: auto;
}

/* .userdetailssections{
    padding: 20px;
    float: left;
    box-sizing: border-box;
} */

.travellerdp{
    width: 50px;
    height: 50px;
    float: left;
}

.dpimg{
    height: inherit;
    width: inherit;
    border-radius: 5px;
}

.namewrapper{
    height: 30px;
}

.travelpost{
    /* padding: 20px; */
    margin-top: 25px;
}

.atravel,.userentrieswrapper{
    background-color: #f5f6f7;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.entrycreatedon{
    font-size: small;
    margin-top: 5px;
}

.travellingdate{
    margin-top: 20px;
    /* border: 1px solid white;
    padding: 10px;
    background-color: #0800ff24;
    border-radius: 10px;
    text-align: center; */
}

.travellocation{
    font-weight: bold;
}

.userimgdiv img{
    width: inherit;
    height: inherit;
}

.userimgdiv{
    width: 100px;
    height: 100px;
    margin: auto;
}

#userimg{
    border-radius: 10px;
}

.userdetailstop{
    text-align: center;
}

.usermeta{
    margin-top: 10px;
    margin-bottom: 10px;
}

.userentrieswrapper{
    padding: 20px;
    margin-top: 20px;
}

.entrytype{
    background-color: #6560ff;
    padding: 5px;
    color: white;
    border-radius: 5px;
    font-size: small;
}

.userentry{
    margin-top: 10px;
}

.loggedinuserdetails{
    text-align: center;
    margin: auto;
}

#entries{
    width: 50%;
    margin: auto;
}

#entriesmaindp{
    width: 100px;
    height: 100px;
    margin: auto;
}

#entriesmaindp img{
    width: inherit;
    height: inherit;
    border-radius: 10px;
}

.entrytypediv{
    margin-top: 10px;
}

#messageboxtouser{
    border: 5px solid #f5f6f7;
    padding: 10px;
    display: none;
}

#newmessagebox{
    margin-top: 20px;
    text-align: center;
}

#usermessagebutton{
    cursor: pointer;
    background-color: #6560ff;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

#userphoneverified{
    margin-top: 10px;
}

#closemessagebox{
    cursor: pointer;
    width: 32px;
}

#closemessagebox img{
    width: inherit;
}

#messageshere{
    height: 500px;
    /* background-color: #f4f4f6; */
    overflow-y: scroll;
    padding: 20px;
}

.newmsg{
    width: fit-content;
    background-color: #f4f4f6;
    overflow-wrap: normal;
    /* padding: 20px; */
    background-color: #6560ff;
    border-radius: 5px;
    margin-top: 5px;
    color: white;
}

.fromloggedintouser{
    text-align: right;
}

.fromusertologgedin{
    text-align: left;
}

.convmsg{
    color: white;
    margin-top: 5px;
}

.convmsgspan{
    background-color: #6560ff;
    border-radius: 5px;
}

.convmsgspantwo{
    background-color: #ffbf00a9;
    /* padding: 0px; */
    border-radius: 5px;
}

#createentries{
    margin-top: 20px !important;
    /* width: 30%; */
    margin: auto;
}

.entrybuttons{
    width: 50%;
    box-sizing: border-box;
    float: left;
}

.entrybuttons button{
    padding: 10px;
    background-color: #6560ff;
    color: white;
    border: none;
    cursor: pointer;
}

.entryform{
    border: 5px solid #f5f6f7;
    width: 50%;
    margin: auto;
    display: none;
    /* padding: 20px; */
    border-radius: 5px;
}

.toselectipdiv,.fromselectipdiv{
    /* margin-top: 5px; */
}

.toselectipdiv input{
    padding: 5px;
}

.entryform form{
    /* background-color: #f4f4f6; */
    /* text-align: center; */
    /* padding: 8px; */
    /* margin-left: 15px; */
    /* border-radius: 5px; */
    text-align: center;
}

.backarrow{
    width: 32px;
    height: 32px;
}

#travelform input{
    text-align: center;
    padding: 15px;
    margin-top: 5px;
    border: none;
    background-color: #f5f6f7;
    border-radius: 10px;
    box-sizing: border-box;
}

#requestform input{
    text-align: center;
    padding: 15px;
    margin-top: 5px;
    border: none;
    background-color: #f5f6f7;
    border-radius: 10px;
}

/* #travelfrom input{
    text-align: center;
    padding: 5px;
} */

/* #travelto input{
    text-align: center;
    padding: 5px;
} */

.fromselect,.toselect{
    /* float: left; */
    box-sizing: border-box;
}

.formsections{
    margin-top: 20px;
}

.submitentrybutton{
    background-color: #6560ff;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.warn{
    color: red;
}

.success{
    color: green;
}

.closeentryforms{
    cursor: pointer;
}

.navdiv{
    float: left;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.navdiv a{
    width: inherit;
    height: inherit;
    display: block;
}

.navdivimg{
    width: inherit;
    height: inherit;
}

.ml-20{
    margin-left: 20px;
}

#navigation{
    margin-top: 20px !important;
    margin: auto;
    width: 240px;
    height: 32px;
}

.addentryspn{
    background-color: #6560ff;
    padding: 5px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

#searchcontent{
    width: 50%;
    margin: auto;
    /* border: 1px solid; */
    /* padding: 20px; */
}

#loggedinusermeta{
    margin-top: 10px;
}

#loggedinusermeta a{
    color: white;
}

#messageswrapper{
    width: 50%;
    margin: auto;
    margin-top: 10px;
    /* padding: 10px; */
}

.conversationwrapper{
    /* margin-top: 20px; */
    padding: 5px;
    /* background-color: gray; */
}
.convnamewrapper{
    background-color: #f5f6f7;
    padding: 20px;
    border-radius: 10px;
}
.showconv{
    font-size: small;
    cursor: pointer;
    /* text-align: center; */
}

.messagenameandcount{
    cursor: pointer;
}

.pointer{
    cursor: pointer;
}

.conv{
    height: 300px;
    overflow-y: scroll;
    display: none;
    /* border: 1px solid red; */
}

.postmessage{
    margin-top: 10px;
}

.usermsgbox{
    display: none;
    margin: auto;
    border: none;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 3px;
    width: 70%;
}

#messageinput{
    margin: auto;
    border: none;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 3px;
    width: 70%;
}

textarea{
    resize: none;
}

#msgcount{
    position: absolute;
    margin-left: 10px;
    margin-top: -10px;
    background-color: #6560ff;
    color: white;
    /* padding: 5px; */
    font-size: x-small;
    border-radius: 10px;
}

/* .convmsgspan{
    line-height: 5px;
}

.convmsgspantwo{
    line-height: 5px;
} */

.travellername{
    padding-top: 15px;
}

.travellername a{
    margin-left: 5px;
    font-weight: bold;
}

#searchbox{
    border: 5px solid #f5f6f7;
    text-align: center;
}

#searchbox input, #searchbox select{
    text-align: center;
    padding: 15px;
    margin-top: 5px;
    border: none;
    background-color: #f5f6f7;
    border-radius: 10px;
}

.hidden{
    display: none;
}

#otpwrapper{
    width: 50%;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f5f6f7;
    border-radius: 10px;
    display: none;
}

#otpwrapper input{
    padding: 10px;
    border: none;
    border-radius: 5px;
}

#otpverifybuton{
    background-color: #6560ff;
    border: none;
    color: white;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
}

#isphoneverified img{
    width: 20px;
    height: 20px;
}

#sendcodeforgotpwd{
    margin-top: 10px;
    /* background-color: #6560ff; */
    border: none;
    /* color: white; */
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #6560ff;
}

#forgotpass{
    width: 30%;
    margin: auto;
}

#forgotpass input{
    border-radius: 5px;
    font-size: large;
}

@media (max-width:1000px) {
    #forgotpass{
        width: 60%;
    }
}

@media (max-width:500px) {
    #forgotpass{
        width: 80%;
    }
}

.fontsmall{
    font-size: small;
}


#editdpwrapper{
    width: 70%;
    margin: auto;
    text-align: center;
}

@media (max-width:540px) {
    #editdpwrapper{
        width: 90%;
    }
}

@media (max-width:425px) {
    #editdpwrapper input{
        width: 90%;
    }
}

#imgpreview{
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#imgpreview img{
    width: inherit;
    height: inherit;
}

#editdpwrapper input{
    text-align: center;
    padding: 15px;
    margin-top: 5px;
    border: none;
    background-color: #f5f6f7;
    border-radius: 10px;
    box-sizing: border-box;
}

#editdpwrapper button{
    text-align: center;
    padding: 15px;
    margin-top: 5px;
    border: none;
    background-color: #6560ff;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    box-sizing: border-box;
}

.showconversation{
    direction: rtl;
}

.showconversation img{
    width: 32px;
    height: 32px;
}

.msgusername{
    font-size: small;
}

.pencil{
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    opacity: .5;
}


#circleG{
	width:45px;
    border: 1px solid white;
	margin:auto;
    box-sizing: border-box;
    display: none;
}

.circleG{
	background-color:white;
	float:left;
	height:10px;
	margin-left:3px;
	width:10px;
	animation-name:bounce_circleG;
		-o-animation-name:bounce_circleG;
		-ms-animation-name:bounce_circleG;
		-webkit-animation-name:bounce_circleG;
		-moz-animation-name:bounce_circleG;
	animation-duration:2s;
		-o-animation-duration:2s;
		-ms-animation-duration:2s;
		-webkit-animation-duration:2s;
		-moz-animation-duration:2s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	border-radius:10px;
		-o-border-radius:4px;
		-ms-border-radius:4px;
		-webkit-border-radius:10px;
		-moz-border-radius:4px;
}

#circleG_1{
	animation-delay:0.45s;
		-o-animation-delay:0.45s;
		-ms-animation-delay:0.45s;
		-webkit-animation-delay:0.45s;
		-moz-animation-delay:0.45s;
}

#circleG_2{
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
}

#circleG_3{
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
}



@keyframes bounce_circleG{
	0%{}

	50%{
		background-color:#6560ff;
	}

	100%{}
}

@-o-keyframes bounce_circleG{
	0%{}

	50%{
		background-color:#6560ff;
	}

	100%{}
}

@-ms-keyframes bounce_circleG{
	0%{}

	50%{
		background-color:#6560ff;
	}

	100%{}
}

@-webkit-keyframes bounce_circleG{
	0%{}

	50%{
		background-color:#6560ff;
	}

	100%{}
}

@-moz-keyframes bounce_circleG{
	0%{}

	50%{
		background-color:#6560ff;
	}

	100%{}
}

.entrymsg{
    padding: 15px;
}

.nodata{
    padding: 20px;
}

.ainspan{
    color: inherit;
    font-size: inherit;
}

#wrapper {
    background-color: #f4f4f6;
    display: flex;
    flex-direction: row;
    width: 75%;
    margin: auto;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 30px;
    padding-right: 30px;
}

footer{
    /* background-color: #6560ff; */
    margin-top: 20px;
    /* width: 90%; */
    /* margin:auto; */
}

#loginbuttonwrapper{
    display: flex;
    align-items: center;
}
