*{
    font-family: 'Sen', sans-serif;
    margin: 0;
    font-size: large;
}
#logo{
    font-size: 48px;
    padding: 10px;
    cursor: pointer;
}
.bold{
    font-weight: bold;
}
.font-big{
    font-size: 35px;
}
.text-cen{
    text-align: center;
}
#title{
    background-color: #fffcf3;
    padding: 90px;
    /* font-weight: bold; */
}
.padding-30{
    padding: 30px;
}
.title-city{
    color: #0800ffa3;
    font-size: inherit;
}
a{
    color: black;
}

#login{
    padding: 10px;
}

#loginspan{
    /* border: 1px solid #0800ffa3; */
    padding: 10px;
    /* border-radius: 3px; */
    background-color: #0800ffa3;
}

#loginspan a{
    color: white;
}

.loginforminput{
    border: none;
    padding: 15px;
    background-color: #f4f4f6;
    width: 90%;
}

#reggender{
    border: none;
    padding: 15px;
    background-color: #f4f4f6;
}

.width-80{
    width: 80%;
}

.butt{
    border: none;
    background-color: #0800ffa3;
    padding: 15px;
    color: white;
}

#forms{
    width: 50%;
}

#how{
    width: 50%;
}

.sections{
    float: left;
    box-sizing: border-box;
    margin: auto;
    /* text-align: center; */
}

.clearboth{
    clear: both;
}

#faqs{
    /* background-color: #0800ffa3; */
    width: 50%;
    margin: auto;
    margin-top: 10px;
}

.sectioncontainer{
    width: 60%;
    margin: auto;
    padding: 20px;
}

.companyname{
    background-color: #0800ffa3;
    padding: 5px;
    color: white;
}

.questions{
    margin-top: 20px;
}

.answers{
    margin-top: 10px;
}

hr{
    margin-top: 30px;
    width: 50%;
    margin: auto;
	height: 1px;
	border: none;
	background-color: #0800ffa3;
}

@media (max-width:1200px){
    .sectioncontainer{
        width: 80%;
    }
}
@media (max-width:900px){
    .sectioncontainer{
        width: 90%;
    }
}

@media (max-width:750px){
    #forms{
        width: 100%;
    }
    #how{
        width: 100%;
    }
    .sectioncontainer{
        width: 80%;
    }
}

#loginerror{
    font-size: medium;
    margin-top: 5px;
    color: red;
}

#loginbutton{
    cursor: pointer;
}

#registration{
    display: none;
}

#leftentriessection, #rightentriessection{
    width: 25%;
}

#travels{
    width: 50%;
}

.entriessections{
    padding: 20px;
    float: left;
    box-sizing: border-box;
}

#leftuserdetailssection, #rightuserdetailssection{
    width: 25%;
}

#userdetails{
    width: 50%;
}

.userdetailssections{
    padding: 20px;
    float: left;
    box-sizing: border-box;
}

.travellerdp{
    width: 30px;
    height: 30px;
    float: left;
}

.dpimg{
    height: inherit;
    width: inherit;

}

.namewrapper{
    height: 30px;
}

.travelpost{
    /* padding: 20px; */
    margin-top: 20px;
}

.atravel{
    border: 1px solid #0800ffa3;
    padding: 20px;
    margin-top: 20px;
}

.travellingdate{
    margin-top: 20px;
}

.travellocation{
    font-weight: bold;
}

.userimgdiv img{
    width: inherit;
    height: inherit;
}

.userimgdiv{
    width: 100px;
    height: 100px;
    margin: auto;
}

.userdetailstop{
    text-align: center;
}

.usermeta{
    margin-top: 10px;
    margin-bottom: 10px;
}

.userentrieswrapper{
    padding: 20px;
    border: 1px solid #0800ffa3;
    margin-top: 20px;
}

.entrytype{
    background-color: #0800ffa3;
    padding: 5px;
    color: white;
}

.userentry{
    margin-top: 10px;
}

.loggedinuserdetails{
    text-align: center;
    margin: auto;
}

#entries{
    width: 50%;
}

#entriesmaindp{
    width: 100px;
    height: 100px;
    margin: auto;
}

#entriesmaindp img{
    width: inherit;
    height: inherit;
}

.entrytypediv{
    margin-top: 10px;
}

#messageboxtouser{
    /* border: 1px solid red; */
    padding: 10px;
    display: none;
}

#newmessagebox{
    margin-top: 20px;
}

.messagebox{
    padding: 12px;
    border: none;
    width: 80%;
    border: 1px solid #0800ffa3
}

#usermessagebutton{
    cursor: pointer;
}

#closemessagebox{
    cursor: pointer;
}


#messageshere{
    height: 500px;
    /* background-color: #f4f4f6; */
    overflow-y: scroll;
    border: 1px solid #0800ffa3;
    padding: 20px;
}

.newmsg{
    width: fit-content;
    background-color: #f4f4f6;
    overflow-wrap: normal;
    padding: 20px;
    background-color: #0800ffa3;
    padding: 5px;
    border-radius: 10px;
    margin-top: 10px;
    color: white;
}

.fromloggedintouser{
    text-align: right;
}

.fromusertologgedin{
    text-align: left;
}

.convmsg{

    /* background-color: #0800ffa3; */
    color: white;
    /* width: fit-content; */
    margin-top: 20px;

    /* width: 100px; */
}

.convmsgspan{
    background-color: #0800ffa3;
    padding: 5px;
    border-radius: 10px;
}

.convmsgspantwo{
    background-color: #ffbf00a3;
    padding: 5px;
    border-radius: 10px;
}

#createentries{
    margin-top: 20px !important;
    width: 30%;
    margin: auto;
}

.entrybuttons{
    width: 50%;
    box-sizing: border-box;
    float: left;
}

.entrybuttons button{
    padding: 10px;
    background-color: #0800ffa3;
    color: white;
    border: none;
    cursor: pointer;
}

.entryform{
    border: 1px solid red;
    width: 50%;
    margin: auto;
    display: none;
    padding: 20px;
}

.entryform input{
    background-color: #f4f4f6;
    /* text-align: center; */
    padding: 8px;
    margin-left: 15px;
    border: 1px solid #0800ffa3;
    /* border-radius: 5px; */
}

.fromselect,.toselect{
    float: left;
    box-sizing: border-box;
}

.formsections{
    margin-top: 20px;
}

.submitentrybutton{
    background-color: #0800ffa3;
    border: none;
    color: white;
    padding: 8px;
}

.warn{
    color: red;
}

.success{
    color: green;
}

.closeentryforms{
    cursor: pointer;
}

.navdiv{
    float: left;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.navdiv a{
    width: inherit;
    height: inherit;
    display: block;
}

.navdivimg{
    width: inherit;
    height: inherit;
}

.ml-20{
    margin-left: 20px;
}

#navigation{
    margin-top: 20px !important;
    margin: auto;
    width: 240px;
}

#searchcontent{
    width: 50%;
    margin: auto;
    border: 1px solid;
    padding: 20px;
}

#messageswrapper{
    width: 50%;
    margin: auto;
    padding: 10px;
}

.conversationwrapper{
    border: 1px solid #0800ffa3;
    margin-top: 20px;
    padding: 5px;
}

.showconv{
    font-size: small;
    cursor: pointer;
    /* text-align: center; */
}

.messagenameandcount{
    cursor: pointer;
}

.conv{
    height: 300px;
    overflow-y: scroll;
    display: none;
    -webkit-transition:all ease .5s;
    transition: all ease .5s;
}

.postmessage{

}

.usermsgbox{
    display: none;
    margin: auto;
    border: none;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 3px;
    width: 70%;
}

textarea{
    resize: none;
}
